form {
    background-color: aqua;
    padding: 10px;
    text-align: center;
    margin: 20px 5px;
}

.todo-container {
    background-color: forestgreen;
    padding: 5px 10px;
    margin: 0 5px;
    margin-bottom: 10px;
}

form h3 {
    margin: 0;
}

.App {
    background-color: crimson;
    padding: 5px 20px;
}